@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Open+Sans:wght@300;400&display=swap');

/* http://meyerweb.com/eric/tools/css/reset/ 
    v2.0 | 20110126
    License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ---------- */
* {
	box-sizing: border-box;
}

body {
	background: #EAE7DC;
	font-family: "Open Sans", sans-serif;
	min-height: 100vh;
}

body, .card-content {
	color: #505050;
}

#nav-bar a:hover,
#nav-bar .active,
.card-title {
	color: #D98275;
}

#header {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 2rem;
}

.logo {
	max-width: 15vw;
	max-height: auto;
	object-fit: contain;
}

#nav-bar {
	display: flex;
	justify-content: space-evenly;
	margin-bottom: 2rem;
	background-color: rgba(249, 249, 249, 0.98);
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
	padding: 10px 20px;
	/* position: fixed; */
	width: 100%;
	z-index: 1;
}

#nav-bar a {
	text-decoration: none;
	color: #36454F;
	font-family: "Montserrat", sans-serif;
	font-size: 1rem;
	font-weight: 600;
}

#nav-bar a:hover,
#nav-bar .active {
	color: #E97451;
	text-decoration: underline;
}

#main-grid {
	display: grid;
	grid-template-rows: auto 1fr;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-areas: 
		"banner banner banner"
		"first-card second-card third-card";
	gap: 2rem 2rem;
	margin-bottom: 2rem;
}

#banner {
	grid-area: banner;
	position: relative;
	width: 100%;
}

#banner-background {
	width: 100%;
	display: block;
}

#banner-text {
	font-family: "Montserrat", sans-serif;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	width: 100%;
	background: rgba(0, 0, 0, 0.5);
	color: white;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 1rem;
	text-align: center;
}

#banner-text h1 {
	margin-bottom: 0.5rem;
	font-size: 2rem;
}

#banner-text p {
	font-size: 1rem;
}

.card {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background: #fff;
	border-radius: 10px;
	border: 1px solid #DDD;
	overflow: hidden;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.card img {
	width: 100%;
	height: 200px;
	object-fit: cover;
	
}

.card-title {
	font-family: "Montserrat", sans-serif;
	font-size: 1.5rem;
	font-weight: bold;
	color: #E97451;
	padding: 0.5rem 1rem;
	background-color: rgba(255, 255, 255, 0.8)
}

.card:hover {
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
	transform: translateY(-5px);
}

.card-content {
	font-family: "Open Sans", sans-serif;
	padding: 1rem;
	font-size: 1rem;
	color: #36454F;
	border-top: 1px solid #eee
}

#first-card {
	grid-area: first-card;
	margin-left: 1rem;

}
#second-card {
	grid-area: second-card;
}

#third-card {
	grid-area: third-card;
	margin-right: 1rem;
}

#footer {
	display: flex;
	border-top: 2px solid #D98275;
}

#footer img {
	font-family: "Open Sans", sans-serif;
	flex: 0 0 auto;
	width: auto;
	height: 100px;
	margin-right: 1rem;
}

.footer-item {
	flex: 1;
	display: flex;
	padding: 1rem;
}

.footer-item:first-child {
	justify-content: flex-start;
}

.footer-item:last-child {
	justify-content: flex-end;
	align-self: center;
}